.flex {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.flex-column {
    flex-direction: column;
}
.flex iframe {
    width: 600px;
    min-width: 300px;
}
#input {
    width: 600px;
    min-width: 300px;
}